Django
django-ckeditor
django-crispy-forms
django-filter
django-js-asset
django-storages
docutils
gunicorn
jmespath
Pillow
psycopg2-binary
python-dateutil
pytz
s3transfer
six
sqlparse
urllib3
whitenoise
django-storages[google]
django-environ
