Django
django-cors-headers
django-filter
django-js-asset
django-storages
djangorestframework
djangorestframework-simplejwt
gunicorn
virtualenv
whitenoise
django-allauth
dj-database-url 
psycopg2-binary
Django
django-cors-headers
django-filter
django-js-asset
django-storages
djangorestframework
djangorestframework-simplejwt
gunicorn
virtualenv
whitenoise
django-allauth
dj-database-url 
psycopg2-binary
pillow
