# RhixeCompany Comics environment
# Backend
DJANGO_SECRET_KEY=
DATABASE_URL=
CELERY_BROKER_URL=redis://localhost:6379/0
# Frontend
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api
STRIPE_SECRET_KEY=
# Scraping
SCRAPY_SETTINGS_MODULE=config.scrapy_settings